article {
    margin: auto;
    width: 960px;
}

#map-container {
    float: left;
    width: 480px;
}

#palette-container {
    float: left;
}

#json {
    height: 200px;
    width: 100%;
}
